NEXT_PUBLIC_SUPABASE_URL=https://bulcwqozgxofrpuvbwaq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1bGN3cW96Z3hvZnJwdXZid2FxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzc5NjYsImV4cCI6MjA5MDYxMzk2Nn0.F5_Uk6S5gVIdOVB75-PU_x5l8GuMptj-p7ug6zIws7w
